* {
  padding: 0;
  margin: 0; 
}
body{
	width: 100%;
	background-color: #2A0D6E;
}
main{
	background-color: #2A0D6E;
}
html {
  font-size: 62.5%;
  box-sizing: border-box; 
}
@font-face{
 	font-family: SFprodisplay;
 	src: url(../fonts/SFprodisplay.ttf);
 }
a{
 	text-decoration: none;
 }
.imgHero{
	margin: 0;
	height: 1200px;
	background-image: url('../img/heroMobile.jpg');
	background-repeat: no-repeat;
	background-size: Cover;
	background-position: center;
}
@media (min-width:  1028px){
	.imgHero {
	margin: 0;
	background-image: url('../img/hero.jpg');
	background-repeat: no-repeat;
	height: 100vh;
}}
.imgHero:before{
	content: "";
	width: 100%;
	height: 1200px;
	position: absolute;
	top: 0;
	left: 0;
	background: linear-gradient(90deg, #2A0D6E 0%, rgba(54, 23, 126, 0.75) 70.62%, #FFFFFF 100%);
	mix-blend-mode: multiply;
}
@media (min-width:  1028px){
	.imgHero:before{
	height: 100vh;
	background: linear-gradient(90deg, #2A0D6E 0%, #301277 26.35%, rgba(59, 27, 133, 0.75) 54.48%, rgba(255, 255, 255, 0) 100%);
	mix-blend-mode: multiply;
}}
.logo{
	margin-left: 40px;
	margin-top: 40px;
	position: absolute;
	height: 65px;
}
@media (min-width:  1028px){
	.logo {
		margin-left: 220px;
		margin-top: 20px;
		height: 40px;
}}
h1{
	font-family: SFprodisplay;
	font-style: normal;
	font-weight: 600;
	font-size: 110px;
	line-height: 110px;
	color: #FFFFFF;
	text-align: center;
	margin-top: 320px;
	position: absolute;
}
@media (min-width:  1028px){
	h1 {
	font-size: 60px;
	line-height: 70px;
	margin-top: 180px;
	margin-left: 20vw;
	margin-right: 20vw;
}}
.contenedorLinks{
	display: flex;
	justify-content: flex-end;
	margin-right: 10px;
	padding-top: 60px;

}
@media (min-width:  1028px){
.contenedorLinks{
	display: flex;
	justify-content: flex-end;
	margin-right: 40px;
	padding-top: 30px;
}}
ul li {
 list-style:none ;
}
.LinksImagen{
	position: absolute;
	display: flex;
	flex-direction: row;
}
ul li a{
	font-size: 28px;
	font-family: SFprodisplay;
	font-style: normal;
	font-weight: 600;
	color: #FFFFFF;
	margin-right: 20px;
}
ul li a:hover{
		color: #FFFFFF; 
}
@media (min-width:  1028px){
ul li a{
	font-size: 20px;
}}
.parrafoTitulo{
		margin-top: 700px;
		font-family: SFprodisplay;
		color: #FFFFFF;
		font-size: 47px;
		line-height: 60px;
		font-weight: normal;
		position: absolute;
		text-align: center;
}
@media (min-width:  1028px){
.parrafoTitulo {
		margin-top: 350px;
		font-size: 28px;
		line-height: 40px;
		margin-left: 20vw;
		margin-right: 20vw;
}}
.botonReserva{	
	font-family: SFprodisplay;
	font-weight: 500;
	background-color: #FFFFFF;
	font-size: 30px;
	border-radius: 8px;
	text-decoration: none;
	padding: 30px 80px;
	color: #5E24E5;
	position: absolute;
	margin-top: 1000px;
}
@media (min-width:  1028px){
.botonReserva {
	margin-top: 440px;
	padding: 10px 35px;
	font-size: 20px;
	margin-top: 500px;
}}
-------------------------------------------------
.Seccion{
	background-color: #2A0D6E;
	padding-bottom: 40px;
	font-size: 15px;
}
h2{
	font-family: SFprodisplay;
	font-weight: 600;
	font-size: 55px;
	text-align: center;
	color: #FFFFFF;
	padding-top: 55px;
}
.ContenedorCards{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 70px;
}
.cards{
	background-color: #5E24E5;
	border-radius: 8px;
	margin-left: 40px;
	width: 250px;
	height: 180px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.logoCards{
	width: 80px;
	height: 80px;
}
.textoCards{
	font-family: SFprodisplay;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	margin-top: 20px;
}
.card-img {
	width: 90vw;
	height: 520px;
	left: 321px;
	top: 2136px;
	border-radius: 8px;
}
@media (min-width:  1023px){

	.card-img {
	width: 580px;
	height: 420px;
	left: 321px;
	top: 2136px;
	border-radius: 8px;
}}
.text-container {
	position: absolute;
	width: 430px;
	height: 420px;
	left: 321px;
	top: 2136px;
}
.card-container {
	padding: 3%;
	display: flex;
	justify-content: center;
	flex-direction: row;
}
.card-title {
	width: 478px;
	height: 100px;
	font-family: SFProDisplay;
	font-style: normal;
	font-weight: 600;
	font-size: 35px;
	line-height: 104%;
	display: flex;
	align-items: center;
	color: #5E24E5;
	margin-top: 2%;
}
.card-text {
	font-family: SFProDisplay;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 1.2em;
	color: #7B7B7B;
	width: 520px;
}
.card-body {
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@media (min-width:  1028px){
	.card-body {
	align-items: flex-start;
}}
.card {
	border-style: none;
	border-radius: 8px;
}
--------------------------------
.seccion-container {
	position: relative;
	}
.Seccion3 {
	background-color: #2A0D6E;
	display: flex;
	justify-content: center;
	flex-direction: row;
	margin-top: 100px;
}
.redes-container {
	max-width: 90vw;
	height: 452px;
	top: 305%;
	bottom: 10%;
	background: #5E24E5;
	border-radius: 8px;
}
.redes-container h2 {
	font-family: SFProDisplay;
	font-style: normal;
	font-weight: 600;
	font-size: 45px;
	line-height: 72px;
	padding-top: 0px;
	margin-top: 30px;
}
@media (min-width:  1024px){
.redes-container h2 {
	text-align: left;
	margin-left: 95px;
	padding-top: 20px;
}
.redes-container {
	max-width: 100vw;
}}
.logos-redes {
	font-family: SFProDisplay;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 72px;
	display: flex;
	justify-content: center;
	align-items: center;
	letter-spacing: -0.025em;
	color: #FFFFFF;
	padding-top: 28px;
}
@media (min-width:  1028px){
	.logos-redes {
		padding-left: 77px;
		justify-content: flex-start;
		padding-top: 8px;
		padding-bottom: 10px;
}}
.logos-redes ul li {
	list-style-type: none;
}
.contenedorRedes{
	display: flex;
	justify-content: left;
}
@media (min-width:  1028px){	
.contenedorRedes {
		justify-content: flex-start;
}}
.contacto-redes {
	justify-content: space-between;
	display: flex;
	flex-direction: row;
	width: 250px;
	padding-left: 0px;
}
@media (min-width:  1028px){	
.contacto-redes {
		padding-left: 94px;
}}
.form-container {
	width: 488px;
	height: 650px;
	bottom: 180px;
	background: #FFFFFF;
	box-shadow: 0px 16px 16px rgba(50, 50, 71, 0.08), 0px 24px 32px rgba(50, 50, 71, 0.06);
	border-radius: 10px;
	margin-top: 0px;
	margin-left: 45vw;
	margin-top: -544px;
}
form {
	width: 450px;
	margin: 0 auto;
	display: flex;
  	flex-direction: column;
  	font-family: SFProDisplay;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	line-height: 35px;
	letter-spacing: -0.025em;
	color: #000000;
	padding: 20px;
}
input {
	border: 1px solid #D1D5DB;
	box-sizing: border-box;
	border-radius: 6px;
	margin-right: 10px;
	width: 18px;
	height: 18px;	
}
.input-text {
	height: 48px;
	width: 410px;
	border: 1px solid #D1D5DB;
}
.button-enviar {
	width: 162px;
	height: 56px;
	background: #5E24E5;
	border-radius: 8px;
	left: calc(50% - 111px/2 + 201.5px);
	font-family: SFProDisplay;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	align-items: center;
	letter-spacing: -0.025em;
	color: #FFFFFF;
	justify-content: center;
	padding: 2%;
}
.button-agenda {
	background: #5E24E5;
	border-radius: 4px;
	font-family: SFProDisplay;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 150%;
	align-items: center;
	color: #FFFFFF;
	height: 38px;
	width: 115px;
	padding:0.4%;
	padding-left: 2.5%;
}
.button-consultoria {
	width: 180px;
	height: 38px;
	border: 1px solid #5E24E5;
	box-sizing: border-box;
	border-radius: 100px;
	font-family: SFProDisplay;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 150%;
	color: #5E24E5;
	padding: 0.4%;
	text-align: center;
	margin-bottom: 0.6%;
}
footer {
	height: 80px;
	left: 0px;
	bottom: 0px;
	background: #5E24E5;
	max-width: 100vw;
}
footer p {
	height: 20px;
	left: 806px;
	bottom: 31px;
	font-family: SFProDisplay;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	line-height: 17px;
	text-align: center;
	color: #FFFFFF;
	padding-top: 32px;
	margin-top: 90px;
}
@media screen and (max-width: 1024px) {	
.text-container {
	position: absolute;
	height: 650px;
	left: 12px;
	}
.card-container {
	padding: 3%;
	display: flex;
	justify-content: center;
	flex-direction: row;
}
.card-title {
	height: 80px;
	font-size:40px;
	line-height: 40px;
	margin-top: 30px;
	margin-bottom: 30px;
	align-self: start;
}
.card-text {
	font-family: SFProDisplay;
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: 40px;
	letter-spacing: 0em;
	text-align: left;
	left: 40px;
	width: auto;
}
.card-body {
	padding: 10%;
	height: 650px;
	width: 90vw;
}

.card {
	border-style: none;
	border-radius: 8px;
}
.button-agenda {
	font-size: 30px;
	color: #FFFFFF;
	height: 70px;
	width: 170px;
	padding: 15px;
	align-self: flex-start;
}
.button-consultoria {
	width: 250px;
	height: 60px;
	font-size: 30px;
	text-align: center;
	align-self: flex-start;
}
.seccion-container {
	position: static;
	display: flex;
	flex-direction: column;
}
.redes-container {
	max-width: 100vw;
	height: 650px;
	padding-left: 15%;
}
.redes-container h2 {
	margin-top: 5%;
	font-size: 60px;
	text-align: left;	
}
.contenedorRedes {
	margin-top: 6%;
}
.contacto-redes {
	justify-content: space-between;
	display: flex;
	flex-direction: row;
	width: 350px;
}
.logos-redes {
	font-size: 35px;
	line-height: 72px;
	display: flex;
	justify-content: left;
	align-items: left;
	letter-spacing: 0.025em;
	color: #FFFFFF;
	padding-top: 28px;
}
.logos-redes ul {
	padding-left: 0;
}
.form-container {
	position: static;
	align-self: center;
	min-width: 92vw;
	height: 1000px;
	background: #FFFFFF;
	box-shadow: 0px 16px 16px rgba(50, 50, 71, 0.08), 0px 24px 32px rgba(50, 50, 71, 0.06);
	border-radius: 10px;
	margin-top: -6%;
	margin-left: 0px;
	padding-top: 30px;
}
form {
	width: 85vw;
	padding-left: 10%;
	font-size: 30px;
	line-height: 2em;
	letter-spacing: -0.025em;
	color: #000000;
}
input {
	border: 1px solid #D1D5DB;
	box-sizing: border-box;
	border-radius: 6px;
	margin-right: 10px;
	width: 18px;
	height: 20px;	
}
.input-text {
	height: 60px;
	width: 65vw;
	border: 1px solid #D1D5DB;
}
.button-enviar {
	font-size: 30px;
	height: 70px;
	width: 170px;
	padding: 1%;
}
.redes-container {
	min-width: 100vw;
}
h2 {
	font-size: 60px;
}}


